body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif;
  color: #f7f1e3; }

/* HEADER */
#header-container {
  width: 100%;
  background: #2f3032;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 11;
  -webkit-box-shadow: 0px 0px 42px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 42px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 42px -2px rgba(0, 0, 0, 0.75); }

.menuBar {
  height: 60px; }

.title {
  width: 150px;
  text-align: center;
  background: none;
  margin-left: 20px;
  position: relative;
  color: #f7f1e3;
  height: 60px;
  line-height: 60px;
  float: left; }

.menuBtn {
  float: right;
  border: none;
  border-radius: 3px;
  margin: 6px 0px;
  height: 47px;
  outline: none;
  color: #f7f1e3;
  background: none;
  padding: 0px 20px;
  font-family: 'Hind Siliguri', sans-serif; }

.menuBtn:hover {
  background: #3b3d3f;
  cursor: pointer; }

.LoginBtn {
  margin-right: 20px; }

.menuBtnIcon {
  float: left;
  height: 50px;
  fill: #f7f1e3;
  padding-right: 10px; }

.menuBtnIconActive {
  float: left;
  height: 50px;
  fill: #00dce8;
  padding-right: 10px; }

.menuBtnText {
  float: left;
  height: 50px;
  line-height: 50px; }

.selected {
  fill: #00dce8;
  color: #00dce8; }

/* CONTENT */
.content {
  margin-top: 60px;
  height: calc(100vh - 150px);
  background-image: url("../images/diary_img1.png");
  background-color: #2f3032;
  background-repeat: no-repeat;
  background-position: 50% 62%;
  width: 100%;
  top: 50px;
  z-index: 10 !important;
  overflow-y: scroll; }

.slideContent {
  height: auto; }

.diaryContent {
  background: transparent; }

.aboutContent {
  background: transparent; }

.loginContent {
  background: transparent; }

.diaryContent {
  padding: 15px 15px; }

/* scrollbar */
.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(64, 64, 64, 0.4); }

.content::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(64, 64, 64, 0.4); }

.content::-webkit-scrollbar-thumb {
  background-color: #00dce8; }

.addNewContainer {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px; }

.addNewBtn {
  width: 33%;
  float: left;
  height: 45px;
  background: rgba(81, 85, 89, 0.5);
  border: none;
  fill: #2f3032;
  outline: none; }

.plusmeeting {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.pluslunch {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.pluswork {
  border-radius: 0px;
  width: 34%; }

.pluswork:hover {
  background: rgba(81, 85, 89, 0.6);
  fill: #00dce8;
  cursor: pointer;
  border-bottom: 1px solid #00dce8; }

.pluslunch:hover {
  background: rgba(81, 85, 89, 0.6);
  fill: #ffc300;
  cursor: pointer;
  border-bottom: 1px solid #ffc300; }

.plusmeeting:hover {
  background: rgba(81, 85, 89, 0.6);
  fill: #30ff67;
  cursor: pointer;
  border-bottom: 1px solid #30ff67; }

/* content INPUT and LUNCH */
.newDiaryEntry {
  background: rgba(81, 85, 89, 0.6);
  float: left;
  width: 100%;
  margin-bottom: 10px;
  height: auto; }

.lunchEntry {
  background: rgba(81, 85, 89, 0.6); }

.inputContainer {
  margin-bottom: 5px;
  height: 35px;
  color: #00dce8;
  line-height: 35px;
  font-size: 13px;
  margin-left: 1%;
  float: left;
  position: relative; }

.deleteContainer {
  height: 40px;
  float: right;
  fill: #2f3032;
  width: 5%;
  text-align: center; }

.deleteContainer:hover {
  background: rgba(81, 85, 89, 0.5);
  cursor: pointer;
  fill: red; }

.del {
  margin-top: 7px; }

.startTimeContainer {
  width: 10%; }

.projectContainer, .projectContainerMeeting {
  width: 13%; }

.productOwnerContainer {
  width: 14%; }

.taskNumberContainer {
  width: 12%; }

.descriptionContainer {
  width: 29%; }

.endTimeContainer {
  width: 10%; }

.lunchContainer {
  width: 50%; }

.meetingContainer {
  width: 21%; }

.startLunch, .endLunch, .startMeeting, .endMeeting {
  width: 20.5%; }

.projectContainer *, .productOwnerContainer *,
.taskNumberContainer *, .descriptionContainer *,
.endTimeContainer *, .lunchContainer *, .projectContainerMeeting *,
.meetingContainer * {
  box-sizing: border-box; }

.newEntryIcon {
  position: absolute;
  margin-top: 5px;
  right: 0;
  width: 17px;
  fill: #00dce8; }

.projectFolderIcon, .productOwnerIcon, .descriptionIcon {
  width: 18px; }

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.newEntryInput {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 4px 4px;
  font-size: 13px;
  line-height: 1.5;
  color: #00dce8;
  background: none;
  border: none;
  border-bottom: 1px solid #00dce8;
  outline: none; }

.newEntryInput::-webkit-input-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.newEntryInput::-moz-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.newEntryInput:-ms-input-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.newEntryInput:-moz-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.hideDeleteElement {
  display: none; }

/* lunch entry */
.lunchEntry .rc-time-picker-input {
  color: #ffc300;
  border-bottom: 1px solid #ffc300; }

.lunchEntry .rc-time-picker-input::-webkit-input-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.lunchEntry .rc-time-picker-input::-moz-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.lunchEntry .rc-time-picker-input:-ms-input-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.lunchEntry .rc-time-picker-input:-moz-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.clockLunchIcon {
  fill: #ffc300; }

.lunchIcon {
  fill: #ffc300; }

.lunchInput {
  color: #ffc300;
  border-bottom: 1px solid #ffc300; }

.lunchInput:hover {
  cursor: not-allowed; }

.lunchInput::-webkit-input-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.lunchInput::-moz-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.lunchInput:-ms-input-placeholder {
  color: rgba(255, 195, 0, 0.5); }

.lunchInput:-moz-placeholder {
  color: rgba(255, 195, 0, 0.5); }

/* meeting entry */
.meetingEntry .rc-time-picker-input {
  color: #30ff67;
  border-bottom: 1px solid #30ff67; }

.meetingEntry .rc-time-picker-input::-webkit-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.meetingEntry .rc-time-picker-input::-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.meetingEntry .rc-time-picker-input:-ms-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.meetingEntry .rc-time-picker-input:-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.clockMeetingIcon {
  fill: #30ff67; }

.meetingIcon {
  fill: #30ff67; }

.meetingInput {
  color: #30ff67;
  border-bottom: 1px solid #30ff67; }

.meetingInput:hover {
  cursor: not-allowed; }

.meetingInput::-webkit-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.meetingInput::-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.meetingInput:-ms-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.meetingInput:-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.projectMeetingIcon {
  fill: #30ff67; }

.projectMeetingInput {
  color: #30ff67;
  border-bottom: 1px solid #30ff67; }

.projectMeetingInput::-webkit-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.projectMeetingInput::-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.projectMeetingInput:-ms-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.projectMeetingInput:-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.ownerMeetingInput {
  color: #30ff67;
  border-bottom: 1px solid #30ff67; }

.ownerMeetingInput::-webkit-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.ownerMeetingInput::-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.ownerMeetingInput:-ms-input-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.ownerMeetingInput:-moz-placeholder {
  color: rgba(48, 255, 103, 0.5); }

.ownerMeetingIcon {
  fill: #30ff67; }

/* FOOTER */
.footer {
  position: fixed;
  z-index: 11;
  width: 100%;
  bottom: 0;
  height: 90px;
  background: #686060;
  -webkit-box-shadow: 0px 0px 42px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 42px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 42px -2px rgba(0, 0, 0, 0.75); }

/* timepicker */
.rc-time-picker {
  width: 100%;
  display: inline-block;
  box-sizing: border-box; }

.rc-time-picker * {
  box-sizing: border-box; }

.rc-time-picker-input {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5;
  color: #00dce8;
  background: none;
  border: none;
  border-bottom: 1px solid #00dce8; }

.rc-time-picker-input::-webkit-input-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.rc-time-picker-input::-moz-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.rc-time-picker-input:-ms-input-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.rc-time-picker-input:-moz-placeholder {
  color: rgba(0, 220, 232, 0.5); }

.rc-time-picker-input[disabled] {
  color: #ccc;
  background: #f7f7f7;
  cursor: not-allowed; }

.rc-time-picker-panel {
  z-index: 1070;
  width: 170px;
  position: absolute;
  box-sizing: border-box; }

.rc-time-picker-panel * {
  box-sizing: border-box; }

.rc-time-picker-panel-inner {
  display: inline-block;
  width: 160px;
  position: relative;
  outline: none;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: transparent;
  background-clip: padding-box;
  line-height: 1.5;
  top: 42px; }

.rc-time-picker-panel-narrow {
  max-width: 113px; }

.rc-time-picker-panel-input {
  display: none; }

.rc-time-picker-panel-input-wrap {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #4e595b;
  box-sizing: border-box;
  position: relative; }

.rc-time-picker-panel-clear-btn {
  display: none; }

.rc-time-picker-panel-select {
  float: left;
  font-size: 12px;
  border: 1px solid #e9e9e9;
  border-width: 0 1px;
  margin-left: -1px;
  background: #4e595b;
  box-sizing: border-box;
  width: 80px;
  max-height: 125px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }

.rc-time-picker-panel-select-active {
  overflow-y: auto; }

.rc-time-picker-panel-select:first-child {
  border-left: 0;
  border-right-color: rgba(64, 64, 64, 0.4);
  margin-left: 0; }

.rc-time-picker-panel-select:last-child {
  border-right: 0;
  border-left: 0;
  border-color: #2f3032; }

.rc-time-picker-panel-select ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%; }

.rc-time-picker-panel-select li {
  list-style: none;
  box-sizing: content-box;
  margin: 0;
  padding: 0 0 0 31px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.rc-time-picker-panel-select li:hover {
  background: #686060; }

li.rc-time-picker-panel-select-option-selected {
  background: #3b3d3f;
  font-weight: bold;
  color: #f7f1e3; }

li.rc-time-picker-panel-select-option-disabled {
  color: #ccc; }

li.rc-time-picker-panel-select-option-disabled:hover {
  background: transparent;
  cursor: not-allowed; }

/* time picker scrollbar */
.rc-time-picker-panel-select::-webkit-scrollbar-track {
  background-color: rgba(64, 64, 64, 0.4); }

.rc-time-picker-panel-select::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(64, 64, 64, 0.4); }

.rc-time-picker-panel-select::-webkit-scrollbar-thumb {
  background-color: #f7f1e3; }

/* TOOLS */
.tools {
  margin-left: -15px;
  margin-top: -15px;
  margin-bottom: 10px;
  width: calc(100% + 30px);
  height: 35px;
  line-height: 35px;
  float: left;
  background: #686060; }

.saveDiaryEntrysContainer {
  float: right;
  height: 35px; }

.toolTipBtn {
  border: none;
  background: none;
  outline: none;
  line-height: 10px;
  fill: #c1c1c1;
  height: 35px;
  width: 55px; }

.saveToolBtn {
  margin-right: 10px; }

.toolTipBtn:hover {
  cursor: pointer;
  background: rgba(79, 75, 75, 0.4);
  fill: #f7f1e3; }

.toolIcon {
  height: 22px; }

/* toast */
.toast-notification {
  margin: 0px !important;
  width: 100% !important; }

.toastStyle {
  width: 100% !important;
  padding: 0px !important;
  border-radius: 0px !important;
  height: 35px !important;
  line-height: 35px !important; }

/* datepicker */
.datePickerContainer {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  height: 60px; }

.datePickerInput {
  font-family: 'Hind Siliguri', sans-serif;
  padding-left: 10px;
  margin-top: 8px;
  font-size: 14px;
  float: left;
  border: none;
  height: 25px;
  border-bottom: 1px solid #00dce8;
  background: none;
  color: #00dce8;
  outline: none;
  width: 230px; }

.datePickerInput:hover {
  cursor: pointer; }

.datePickerStyleCustom {
  background: #4e595b !important;
  border-radius: 0px !important;
  border: none !important;
  font-family: 'Hind Siliguri', sans-serif !important; }

.react-datepicker__header {
  background: #3b3d3f !important;
  border-radius: 0px !important;
  border-bottom-color: #3b3d3f !important; }

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  margin-top: -7px !important; }

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 5px !important; }

.react-datepicker__current-month {
  color: #f7f1e3 !important;
  font-weight: normal !important; }

.react-datepicker__day-name {
  color: #00dce8 !important; }

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-bottom-color: #3b3d3f !important; }

.react-datepicker__navigation--previous {
  border-right-color: #f7f1e3 !important; }

.react-datepicker__navigation--next {
  border-left-color: #f7f1e3 !important; }

.react-datepicker__day, .react-datepicker__time-name {
  color: #f7f1e3 !important; }

.react-datepicker__day--disabled {
  color: #3b3d3f !important; }

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #00dce8 !important;
  border-radius: 0px !important; }

.react-datepicker__day:hover {
  border-radius: 0px !important;
  background: #2f3032 !important; }

.react-datepicker__day--disabled:hover {
  background: #4e595b !important; }

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: #00bcc6 !important; }

/* modal */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12; }

.Modal {
  position: absolute;
  width: 400px;
  outline: none;
  padding: 15px 20px;
  border: 1px solid #00dce8;
  background-color: #2f3032; }

.modalTitle {
  width: 80%;
  float: left;
  height: 30px;
  line-height: 30px;
  color: #00dce8;
  margin-bottom: 5px; }

.modalCloseContainer {
  width: 20%;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px; }

.modalCloseBtn {
  outline: none;
  float: right;
  border: none;
  height: 30px;
  background: none;
  fill: #00dce8;
  padding: 0px; }

.modalCloseBtn:hover {
  cursor: pointer;
  fill: #f7f1e3; }

.modalExplainContainer {
  color: #f7f1e3;
  clear: both;
  padding: 5px 0px 5px 0px;
  width: 100%;
  text-align: justify;
  font-size: 0.8em; }

.modalBtn {
  width: 100%;
  color: white;
  font-size: 13px;
  background: none;
  margin-top: 5px;
  border: none;
  background: #3b3d3f;
  outline: none;
  padding: 10px; }

.modalBtn:hover {
  cursor: pointer;
  fill: #f7f1e3;
  background: rgba(81, 85, 89, 0.6); }

.ReactModalPortal > div {
  opacity: 0; }

.ReactModalPortal .ReactModal__Overlay {
  transition: all 200ms ease-in-out;
  opacity: 0; }

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1; }

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0; }

/* lock */
.lockContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 12; }

.fontAwesomeIcon {
  color: #f7f1e3;
  margin-right: 8px; }
