$charcoal-dark: #2f3032
$charcoal: #3b3d3f
$charcoal-light: #4e595b
$charcoal-light-rgba: rgba(81, 85, 89, 0.2)
$charcoal-light-rgba-lighter: rgba(81, 85, 89, 0.3)
$sand-dollar: #f7f1e3
$wood-veneer: #686060
$wood-veneer-dark: rgba(79, 75, 75, 0.4)
$blue: #00dce8
$blue-lighter: rgba(0, 220, 232, 0.5)
$yellow: #ffc300
$yellow-dark: rgba(255, 195, 0, 0.5)
$green: #30ff67
$green-dark: rgba(48, 255, 103, 0.5)
$grey: #c1c1c1

body
  margin: 0
  padding: 0
  font-family: 'Hind Siliguri', sans-serif
  color: $sand-dollar

/* HEADER */

#header-container
  width: 100%
  background: $charcoal-dark
  height: auto
  position: fixed
  top: 0
  z-index: 11
  -webkit-box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75)

.menuBar
  height: 60px

.title
  width: 150px
  text-align: center
  background: none
  margin-left: 20px
  position: relative
  color: $sand-dollar
  height: 60px
  line-height: 60px
  float: left

.menuBtn
  float: right
  border: none
  height: 60px
  outline: none
  color: $sand-dollar
  background: none
  padding: 0px 20px
  font-family: 'Hind Siliguri', sans-serif

.menuBtn:hover
  background: $charcoal
  cursor: pointer

.LoginBtn
  margin-right: 20px

.menuBtnIcon
  float: left
  height: 50px
  fill: $sand-dollar
  padding-right: 10px

.menuBtnIconActive
  float: left
  height: 50px
  fill: $blue
  padding-right: 10px

.menuBtnText
  float: left
  height: 50px
  line-height: 50px

.selected
  fill: $blue
  color: $blue

/* CONTENT */

.content
  margin-top: 60px
  height: calc(100vh - 150px)
  background: $charcoal-dark
  background-repeat: no-repeat
  background-position: center
  width: 100% 
  top: 50px
  z-index: 10 !important
  overflow-y: scroll

.slideContent
  height: auto 

.diaryContent
  background: transparent

.aboutContent
  background: transparent

.loginContent
  background: transparent

.diaryContent
  padding: 15px 15px

/* scrollbar */

.content::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	background-color: rgba(64, 64, 64, 0.4)

.content::-webkit-scrollbar
	width: 6px
	background-color: rgba(64, 64, 64, 0.4)

.content::-webkit-scrollbar-thumb
	background-color: $blue

.addNewContainer
  float: left
  width: 100%
  margin-bottom: 15px 

.addNewBtn 
  width: 33%
  float: left
  height: 45px
  background: $charcoal-light-rgba
  border: none
  fill: $charcoal-dark
  outline: none

.pluswork
  width: 34%

.pluswork:hover
  background: $charcoal-light-rgba-lighter
  fill: $blue
  cursor: pointer
  border-bottom: 1px solid $blue

.plusluch:hover
  background: $charcoal-light-rgba-lighter
  fill: $yellow
  cursor: pointer
  border-bottom: 1px solid $yellow

.plusmeeting:hover
  background: $charcoal-light-rgba-lighter
  fill: $green
  cursor: pointer
  border-bottom: 1px solid $green

/* content INPUT and LUNCH */

.newDiaryEntry
  background: $charcoal-light-rgba-lighter
  float: left
  width: 100%
  margin-bottom: 10px
  height: auto

.lunchEntry
  background: $charcoal-light-rgba-lighter

.inputContainer
  margin-bottom: 5px
  height: 35px
  color: $blue
  line-height: 35px
  font-size: 13px
  margin-left: 1%
  float: left
  position: relative

.deleteContainer 
  height: 40px
  float: right
  fill: $charcoal-dark
  width: 5%
  text-align: center

.deleteContainer:hover
  background: $charcoal-light-rgba
  cursor: pointer
  fill: red

.del
  margin-top: 7px 

.startTimeContainer
  width: 10%

.projectContainer, .projectContainerMeeting
  width: 13%

.productOwnerContainer
  width: 14%

.taskNumberContainer
  width: 12%

.descriptionContainer
  width: 29%

.endTimeContainer
  width: 10%

.lunchContainer
  width: 50%

.meetingContainer
  width: 21%

.startLunch, .endLunch, .startMeeting, .endMeeting
  width: 20.5%

.projectContainer *, .productOwnerContainer *,
.taskNumberContainer *, .descriptionContainer *,
.endTimeContainer *, .lunchContainer *, .projectContainerMeeting *, 
.meetingContainer *
  box-sizing: border-box

.newEntryIcon
  position: absolute
  margin-top: 5px
  right: 0
  width: 17px
  fill: $blue

.projectFolderIcon, .productOwnerIcon, .descriptionIcon
  width: 18px

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

.newEntryInput
  width: 100%
  position: relative
  display: inline-block
  padding: 4px 4px
  font-size: 13px
  line-height: 1.5
  color: $blue
  background: none
  border: none
  border-bottom: 1px solid $blue
  outline: none

.newEntryInput::-webkit-input-placeholder
  color: $blue-lighter

.newEntryInput::-moz-placeholder
  color: $blue-lighter

.newEntryInput:-ms-input-placeholder
  color: $blue-lighter

.newEntryInput:-moz-placeholder
  color: $blue-lighter

.hideDeleteElement
  display: none

/* lunch entry */

.lunchEntry .rc-time-picker-input
  color: $yellow
  border-bottom: 1px solid $yellow

.lunchEntry .rc-time-picker-input::-webkit-input-placeholder
  color: $yellow-dark

.lunchEntry .rc-time-picker-input::-moz-placeholder
  color: $yellow-dark

.lunchEntry .rc-time-picker-input:-ms-input-placeholder
  color: $yellow-dark

.lunchEntry .rc-time-picker-input:-moz-placeholder
  color: $yellow-dark

.clockLunchIcon
  fill: $yellow

.lunchIcon
  fill: $yellow

.lunchInput
  color: $yellow
  border-bottom: 1px solid $yellow

.lunchInput:hover
  cursor: not-allowed

.lunchInput::-webkit-input-placeholder
  color: $yellow-dark

.lunchInput::-moz-placeholder
  color: $yellow-dark

.lunchInput:-ms-input-placeholder
  color: $yellow-dark

.lunchInput:-moz-placeholder
  color: $yellow-dark

/* meeting entry */

.meetingEntry .rc-time-picker-input
  color: $green
  border-bottom: 1px solid $green

.meetingEntry .rc-time-picker-input::-webkit-input-placeholder
  color: $green-dark

.meetingEntry .rc-time-picker-input::-moz-placeholder
  color: $green-dark

.meetingEntry .rc-time-picker-input:-ms-input-placeholder
  color: $green-dark

.meetingEntry .rc-time-picker-input:-moz-placeholder
  color: $green-dark

.clockMeetingIcon
  fill: $green

.meetingIcon
  fill: $green

.meetingInput
  color: $green
  border-bottom: 1px solid $green

.meetingInput:hover
  cursor: not-allowed

.meetingInput::-webkit-input-placeholder
  color: $green-dark

.meetingInput::-moz-placeholder
  color: $green-dark

.meetingInput:-ms-input-placeholder
  color: $green-dark

.meetingInput:-moz-placeholder
  color: $green-dark

.projectMeetingIcon
  fill: $green

.projectMeetingInput
  color: $green
  border-bottom: 1px solid $green

.projectMeetingInput::-webkit-input-placeholder
  color: $green-dark

.projectMeetingInput::-moz-placeholder
  color: $green-dark

.projectMeetingInput:-ms-input-placeholder
  color: $green-dark

.projectMeetingInput:-moz-placeholder
  color: $green-dark

.ownerMeetingInput
  color: $green
  border-bottom: 1px solid $green

.ownerMeetingInput::-webkit-input-placeholder
  color: $green-dark

.ownerMeetingInput::-moz-placeholder
  color: $green-dark

.ownerMeetingInput:-ms-input-placeholder
  color: $green-dark

.ownerMeetingInput:-moz-placeholder
  color: $green-dark

.ownerMeetingIcon
  fill: $green

/* FOOTER */

.footer
  position: fixed
  z-index: 11
  width: 100%
  bottom: 0
  height: 90px
  background: $wood-veneer
  -webkit-box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 42px -2px rgba(0,0,0,0.75)

/* timepicker */

.rc-time-picker
  width: 100%
  display: inline-block
  box-sizing: border-box

.rc-time-picker * 
  box-sizing: border-box

.rc-time-picker-input
  width: 100%
  position: relative
  display: inline-block
  padding: 4px 7px
  cursor: pointer
  font-size: 13px
  line-height: 1.5
  color: $blue
  background: none
  border: none
  border-bottom: 1px solid $blue

.rc-time-picker-input::-webkit-input-placeholder
  color: $blue-lighter

.rc-time-picker-input::-moz-placeholder
  color: $blue-lighter

.rc-time-picker-input:-ms-input-placeholder
  color: $blue-lighter

.rc-time-picker-input:-moz-placeholder
  color: $blue-lighter

.rc-time-picker-input[disabled] 
  color: #ccc
  background: #f7f7f7
  cursor: not-allowed

.rc-time-picker-panel 
  z-index: 1070
  width: 170px
  position: absolute
  box-sizing: border-box

.rc-time-picker-panel * 
  box-sizing: border-box

.rc-time-picker-panel-inner 
  display: inline-block
  width: 160px
  position: relative
  outline: none
  list-style: none
  font-size: 12px
  text-align: left
  background-color: transparent
  background-clip: padding-box
  line-height: 1.5
  top: 42px

.rc-time-picker-panel-narrow 
  max-width: 113px

.rc-time-picker-panel-input
  display: none

.rc-time-picker-panel-input-wrap 
  width: 0 
  height: 0
  margin-left: 10px
  border-left: 8px solid transparent
  border-right: 8px solid transparent
  border-bottom: 8px solid $charcoal-light
  box-sizing: border-box
  position: relative

.rc-time-picker-panel-clear-btn 
  display: none

.rc-time-picker-panel-select 
  float: left
  font-size: 12px
  border: 1px solid #e9e9e9
  border-width: 0 1px
  margin-left: -1px
  background: $charcoal-light
  box-sizing: border-box
  width: 80px
  max-height: 125px
  overflow-y: auto
  overflow-x: hidden
  position: relative

.rc-time-picker-panel-select-active 
  overflow-y: auto

.rc-time-picker-panel-select:first-child 
  border-left: 0
  border-right-color: rgba(64, 64, 64, 0.4)
  margin-left: 0

.rc-time-picker-panel-select:last-child 
  border-right: 0
  border-left: 0
  border-color: $charcoal-dark

.rc-time-picker-panel-select ul 
  list-style: none
  box-sizing: border-box
  margin: 0
  padding: 0
  width: 100%

.rc-time-picker-panel-select li 
  list-style: none
  box-sizing: content-box
  margin: 0
  padding: 0 0 0 31px
  width: 100%
  height: 24px
  line-height: 24px
  text-align: left
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.rc-time-picker-panel-select li:hover 
  background: $wood-veneer

li.rc-time-picker-panel-select-option-selected 
  background: $charcoal
  font-weight: bold
  color: $sand-dollar

li.rc-time-picker-panel-select-option-disabled 
  color: #ccc

li.rc-time-picker-panel-select-option-disabled:hover 
  background: transparent
  cursor: not-allowed

/* time picker scrollbar */

.rc-time-picker-panel-select::-webkit-scrollbar-track
	background-color: rgba(64, 64, 64, 0.4)

.rc-time-picker-panel-select::-webkit-scrollbar
	width: 6px
	background-color: rgba(64, 64, 64, 0.4)

.rc-time-picker-panel-select::-webkit-scrollbar-thumb
	background-color: $sand-dollar

/* TOOLS */

.tools
  margin-left: -15px 
  margin-top: -15px
  margin-bottom: 10px
  width: calc(100% + 30px)
  height: 35px
  line-height: 35px
  float: left
  background: $wood-veneer

.saveDiaryEntrysContainer
  float: right
  height: 35px

.toolTipBtn
  border: none
  background: none
  outline: none
  line-height: 10px
  fill: $grey
  height: 35px
  width: 55px

.saveToolBtn
  margin-right: 10px

.toolTipBtn:hover
  cursor: pointer
  background: $wood-veneer-dark
  fill: $sand-dollar

.toolIcon
  height: 22px

/* toast */
.toast-notification
  margin: 0px !important
  width: 100% !important

.toastStyle
  width: 100% !important
  padding: 0px !important
  border-radius: 0px !important
  height: 35px !important
  line-height: 35px !important

/* datepicker */
.datePickerContainer
  padding-left: 20px
  display: table-cell
  vertical-align: middle
  height: 60px

.datePickerInput
  font-family: 'Hind Siliguri', sans-serif
  padding-left: 10px
  margin-top: 8px
  font-size: 14px
  float: left
  border: none
  height: 25px
  border-bottom: 1px solid $blue
  background: none
  color: $blue
  outline: none
  width: 230px

.datePickerInput:hover
  cursor: pointer

.datePickerStyleCustom
  background: $charcoal-light !important
  border-radius: 0px !important
  border: none !important
  font-family: 'Hind Siliguri', sans-serif !important

.react-datepicker__header
  background: $charcoal !important
  border-radius: 0px !important
  border-bottom-color: $charcoal !important

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle
  margin-top: -7px !important

.react-datepicker-popper[data-placement^="bottom"]
  margin-top: 5px !important

.react-datepicker__current-month
  color: $sand-dollar !important
  font-weight: normal !important

.react-datepicker__day-name
  color: $blue !important

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, 
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before
  border-bottom-color: $charcoal !important

.react-datepicker__navigation--previous
  border-right-color: $sand-dollar !important

.react-datepicker__navigation--next
  border-left-color: $sand-dollar !important

.react-datepicker__day, .react-datepicker__time-name
  color: $sand-dollar !important

.react-datepicker__day--disabled
  color: $charcoal !important

.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range
  background-color: $blue !important
  border-radius: 0px !important

.react-datepicker__day:hover
  border-radius: 0px !important
  background: $charcoal-dark !important

.react-datepicker__day--disabled:hover
  background: $charcoal-light !important

.react-datepicker__day--selected:hover, 
.react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover 
  background-color: #00bcc6 !important
